*.~*
*.suo
*.ncb
*.exp
*.user
*.sdf
*.dll
*.lib
*.exe
*.pdb
*.tlb
*.zip
*.scc
!common/*/*
!vmprotect/*
!sunshine_pubwin/res/*
*.ipch
*.pch
*.obj
*.aps
*.VC.db
*.VC.opendb
*.vs/*
build/*
Debug/*
Release/*
*/Debug/*
*/Release/*
*/x64/Debug/*
*/x64/Release/*
*.ilk
*.iobj
*.ipdb
*.tlog